@import url(//fonts.googleapis.com/css?family=PT+Serif:400,400italic,700);
/* iubenda cookie policy banner */
#iubenda-cs-banner {
  background-color: #45464a !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}
#iubenda-cs-banner .iubenda-cs-content {
  background: #45464a !important;
  padding: 20px 30px 20px !important;
}
#iubenda-cs-banner .iubenda-cs-content .iubenda-cs-rationale {
  max-width: none !important;
}
#iubenda-cs-banner .iubenda-cs-content p:first-child {
  font-family: montserrat !important;
}
#iubenda-cs-banner .iubenda-cs-content p:last-child {
  font-family: "PT Serif" !important;
}

@media screen and (max-width: 480px) {
  #iubenda-cs-banner .iubenda-banner-content p, #iubenda-cs-banner .iubenda-banner-content a {
    font-size: 12px !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url(/fonts/Montserrat-Light.otf);
  font-weight: 100;
}
figcaption {
  text-align: center;
  font-size: 12px;
  line-height: normal;
  margin: 9px 0 0;
}

.play-gif {
  display: none;
}

.gp-gif-element {
  pointer-events: none;
  cursor: default;
}

.wide, .sf-two-columns .container {
  width: 100% !important;
}

.uppercase, .sf-footer h5,
.sf-footer h4, .sf-header .sf-navbar, .sf-button, a.sf-secondary-button, a.sf-main-button {
  text-transform: uppercase;
}

.styless-anchor, .sf-footer a, .sf-tour a, .sf-header .sf-navbar .sf-menu.sf-menu-actions .sf-nav-button, .sf-header .sf-navbar .sf-menu ul li a, .sf-button, a.sf-secondary-button, a.sf-main-button {
  color: #ffffff;
  text-decoration: none;
}

.gradient {
  filter: none;
}

.sf-button, a.sf-secondary-button, a.sf-main-button {
  cursor: pointer;
  font-family: "Montserrat";
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  background-color: #e74c3c;
}

a.sf-main-button {
  width: 180px;
  font-size: 12px;
  font-weight: 100;
  padding: 13px 0 13px 0;
  letter-spacing: 2px;
  border-radius: 80px;
  display: inline-block;
}

a.sf-secondary-button {
  background-color: transparent;
  font-weight: 100;
  font-size: 12px;
  width: 180px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 11px 0 11px 0;
  letter-spacing: 1.2px;
  margin-left: 18px;
}

.feature-p, .sf-two-columns .first p,
.sf-two-columns .second p, .sf-one-column .row p {
  margin-bottom: 32px;
  font-size: inherit;
}

.feature-h3, .sf-two-columns .first h3,
.sf-two-columns .second h3, .sf-one-column h3 {
  margin-bottom: 16px;
}

.italic {
  font-style: italic;
}

.black, .feature-h3, .sf-two-columns .first h3,
.sf-two-columns .second h3, .sf-one-column h3 {
  color: #3c3d41;
}

.bold {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

body {
  overflow-x: hidden;
}

html,
body {
  color: #838d8f;
  font-family: "PT Serif";
  font-size: 22px;
  line-height: 34px;
  background-color: #444549;
}

html,
html a {
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

a:hover,
a:focus {
  text-decoration: none;
}

h1 {
  font-size: 46.9px;
  line-height: 46px;
  font-weight: 700;
  margin: 0;
  letter-spacing: -1.4px;
}

h2 {
  font-size: 36px;
  line-height: 26.4px;
  font-weight: 700;
  margin: 0;
}

h3 {
  font-size: 22.78px;
  line-height: 26.4px;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.89px;
}

h4 {
  font-size: 18px;
  line-height: 13.2px;
  font-weight: 700;
  margin: 0;
}

h5 {
  font-size: 11px;
  line-height: 13.2px;
  font-weight: 700;
  margin: 0;
}

h6 {
  font-size: 46px;
  line-height: 59.8px;
  font-weight: 700;
  margin: 0;
}

div {
  overflow: visible;
}

.sf-menu-mobile {
  display: none;
}

.sf-page-content {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper-right {
  position: absolute;
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}
.row [class*=col-] {
  padding: 0;
}

.container,
.container-size {
  width: 560px;
  padding: 0;
  overflow: visible;
  margin: 0 auto;
}

#ycb-modal .modal-content {
  width: 770px;
}
#ycb-modal .modal-content .modal-header {
  border-bottom: 0px;
}
#ycb-modal .modal-content .modal-header .modal-title {
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}
#ycb-modal .modal-content .modal-body {
  height: 792px;
  padding: 0;
}
#ycb-modal .modal-content .modal-body .ycb-frame {
  width: 100%;
  height: 821px;
  border: 0px;
  background-color: transparent;
  margin-top: -34px;
}
#ycb-modal .modal-content .close {
  margin-top: 0px;
}

.sf-header {
  padding-top: 27px;
}
.sf-header .sf-navbar, .sf-header .sf-navbar a {
  font-family: "Montserrat";
  font-weight: 100;
  letter-spacing: 1px;
}
.sf-header .sf-navbar .sf-logo {
  width: 48px;
  float: left;
}
.sf-header .sf-navbar .sf-menu {
  margin-left: 180px;
  float: left;
}
.sf-header .sf-navbar .sf-menu ul {
  padding: 13px 0 0 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.sf-header .sf-navbar .sf-menu ul li {
  display: inline;
  margin-right: 54px;
}
.sf-header .sf-navbar .sf-menu ul li.no-margin-right, .sf-header .sf-navbar .sf-menu ul li:last-child {
  margin-right: 0px;
}
.sf-header .sf-navbar .sf-menu.sf-menu-actions {
  float: right;
  margin-top: -13px;
}
.sf-header .sf-navbar .sf-menu.sf-menu-actions ul li {
  margin-right: 20px;
}
.sf-header .sf-navbar .sf-menu.sf-menu-actions .sf-nav-button {
  width: 180px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  padding: 10.5px 0 11.5px 0;
  text-align: center;
  letter-spacing: 1.2px;
}
.sf-header hr {
  margin-top: 19px;
  margin-bottom: 44px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 2px;
  border-top: 0 !important;
}

.sf-header.feature {
  background-size: cover;
}
.sf-header.feature .sf-hero {
  padding-bottom: 30px;
}
.sf-header.feature .sf-hero h1 {
  font-size: 46.99px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
}
.sf-header.feature .sf-hero p {
  font-size: 36px;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}
.sf-header.feature .sf-hero .arrow {
  margin-top: 22px;
  margin-bottom: 30px;
}
.sf-header.feature .sf-hero .arrow.right {
  text-align: left;
  padding-left: 90px;
}
.sf-header.feature .sf-hero .arrow.left {
  text-align: right;
  padding-right: 90px;
}
.sf-header.feature hr {
  margin-bottom: 128px;
}

.sf-tour {
  background-color: #3cb6e3;
  color: #ffffff;
  text-align: center;
  padding: 62px 0;
  border: 0;
  border-bottom: 9px solid #3c87ae;
}
.sf-tour:hover {
  background-color: #3b97c7;
}
.sf-tour h1 {
  font-size: 46px;
  letter-spacing: -1px;
}
.sf-tour p {
  font-size: 24px;
  font-weight: 400;
  line-height: 26.4px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 0;
}
.sf-tour .row div {
  display: inline-block;
}
.sf-tour img {
  position: relative;
  margin-left: 43px;
  bottom: 32px;
}

.input-group input, .input-group .sf-form textarea, .sf-form .input-group textarea {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.16);
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-family: "Montserrat";
  border: 0;
}
.input-group .input-group-btn .btn-default {
  color: #ffffff;
  border: 0;
  background-color: #e74c3c;
}

.sf-footer {
  background-color: #45464a;
  padding: 41px 0;
  color: #f7f7f7;
}
.sf-footer a {
  color: rgba(238, 238, 238, 0.56);
}
.sf-footer .float {
  float: left;
}
.sf-footer h5,
.sf-footer h4 {
  margin-bottom: 29px;
  letter-spacing: 3.6px;
}
.sf-footer h5.m-bottom,
.sf-footer h4.m-bottom {
  margin-bottom: 27px;
}
.sf-footer .footer-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Montserrat";
  color: rgba(238, 238, 238, 0.56);
  font-size: 18px;
  line-height: 18.2px;
}
.sf-footer .l1 li,
.sf-footer .l2 li {
  margin-bottom: 30px;
}
.sf-footer .l1 li:last-child,
.sf-footer .l2 li:last-child {
  margin-bottom: 0;
}
.sf-footer .l2 .icon {
  text-align: center;
  vertical-align: text-bottom;
}
.sf-footer .l2 .icon-text {
  line-height: 1px;
}
.sf-footer .l2 .facebook-icon {
  content: url("/img/facebook.svg");
  margin: 0 13px 0px 5px;
}
.sf-footer .l2 .linkedin-icon {
  content: url("/img/linkedin.svg");
  margin: 0 10px 2px 3px;
  height: 13px;
  width: 13px;
}
.sf-footer .l2 .x-icon {
  content: url("/img/x.svg");
  margin: 0 10px 1px 3px;
  height: 13px;
  width: 13px;
}
.sf-footer .l2 .youtube-icon {
  content: url("/img/youtube.svg");
  margin: 0 8px 0px 0px;
  width: 18px;
  height: 15px;
}

.sf-one-column {
  background-color: #ffffff;
  padding-top: 39px;
  padding-bottom: 35px;
}
.sf-one-column .row {
  margin-bottom: 35px;
}
.sf-one-column .row:last-child {
  margin-bottom: 0;
}
.sf-one-column .row p:last-child {
  margin-bottom: 0;
}
.sf-one-column .box {
  box-sizing: content-box;
  border-width: 1px;
  border-color: #eaeaea;
  border-style: solid;
  background-color: #f9f9f9;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);
  width: 439px;
  padding-right: 41px;
  padding-left: 58px;
  padding-top: 30px;
  padding-bottom: 29px;
  margin-bottom: 24px;
}
.sf-one-column .box p,
.sf-one-column .box div {
  text-align: center;
}
.sf-one-column .box p {
  width: 100% !important;
  color: #3c3d41;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 20px;
}
.sf-one-column .box .actions.content,
.sf-one-column .box .row {
  width: 100%;
  margin: 0;
}
.sf-one-column .box .actions.content .arrows {
  margin-bottom: 16px;
}
.sf-one-column .box .actions.content .actions.row {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #3cb6e3;
}
.sf-one-column .box .actions.content .actions.row .col-xs-4 {
  text-align: center;
}
.sf-one-column .box .actions.content .actions.row .col-xs-4:first-child {
  text-align: left;
}
.sf-one-column .box .actions.content .actions.row .col-xs-4:last-child {
  text-align: right;
}
.sf-one-column form {
  margin-top: 43px;
}

.sf-two-columns .container .row {
  clear: both;
}
.sf-two-columns .first .content,
.sf-two-columns .second .content {
  width: 560px;
  margin: 0 auto;
}
.sf-two-columns .first p:last-child,
.sf-two-columns .second p:last-child {
  margin-bottom: 0;
}
.sf-two-columns .first.full-col .content,
.sf-two-columns .second.full-col .content {
  width: 100%;
}

.sf-form fieldset {
  padding-top: 36px;
  padding-right: 34px;
  padding-left: 34px;
  padding-bottom: 40px;
  border-radius: 10px;
  border-width: 1px;
  border-color: rgba(68, 69, 73, 0.2);
  border-style: solid;
}
.sf-form label,
.sf-form input,
.sf-form textarea {
  display: block;
}
.sf-form label {
  font-family: "Montserrat";
  color: #3a3d3f;
  font-size: 22px;
  margin-bottom: 24px;
  font-weight: 400;
}
.sf-form input, .sf-form textarea {
  border-radius: 5px;
  width: 100%;
  background-color: #eeeeee;
  border: 0;
  border-top: 1px solid #dddddd;
  padding: 7px;
  height: 60px;
  margin-bottom: 30px;
}
.sf-form input:last-child, .sf-form textarea:last-child {
  margin-bottom: 0;
}
.sf-form textarea {
  height: 80px;
  resize: vertical;
}
.sf-form input[type=checkbox], .sf-form textarea[type=checkbox] {
  display: none;
}
.sf-form input[type=checkbox] + label, .sf-form textarea[type=checkbox] + label {
  margin-bottom: 21px;
}
.sf-form input[type=checkbox] + label .checkbox, .sf-form textarea[type=checkbox] + label .checkbox {
  display: inline-block;
  margin-right: 20px;
  border-radius: 9px;
  background-color: #eeeeee;
  width: 40px;
  height: 40px;
  border: 1px solid #b2d9b6;
  vertical-align: middle;
}
.sf-form input[type=checkbox]:checked + label .checkbox, .sf-form textarea[type=checkbox]:checked + label .checkbox {
  background-color: #88d68f;
  background-image: url("/img/check-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}
.sf-form .sf-button, .sf-form a.sf-main-button, .sf-form a.sf-secondary-button {
  border: 0;
  margin: 0 auto;
  padding: 19px 94px;
  letter-spacing: 4.4px;
  border-radius: 65px;
  margin-top: 40px;
  display: block;
}
.sf-form p {
  font-size: 24px !important;
}
.sf-form textarea {
  height: 140px;
}

.whitepaper-link:hover {
  background-color: #404043;
}

@media (max-width: 480px) {
  @-ms-viewport {
    width: 600px;
  }
  #ycb-modal .modal-content {
    width: 100%;
  }
  .sf-header.larger.feature .sf-hero p {
    margin-bottom: 405px;
  }
  body {
    overflow-x: hidden;
  }
  .feature-h3, .sf-one-column h3, .sf-two-columns .first h3,
  .sf-two-columns .second h3 {
    font-size: inherit;
  }
  .open-menu {
    color: #ffffff;
    cursor: pointer;
  }
  .sf-menu-mobile {
    padding-top: 40px;
    padding-bottom: 60px;
    z-index: 999999;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(59, 60, 64, 0.95);
  }
  .sf-menu-mobile .title {
    font-family: "Montserrat";
    color: rgba(247, 247, 247, 0.35);
    font-size: 18px;
    float: left;
    margin-bottom: 39px;
  }
  .sf-menu-mobile .close-menu {
    float: right;
    font-family: "Montserrat";
    color: #eeeeee;
    font-size: 20px;
    text-decoration: underline;
    cursor: pointer;
  }
  .sf-menu-mobile ul {
    padding: 0;
    list-style: none;
  }
  .sf-menu-mobile ul li {
    margin-bottom: 50px;
  }
  .sf-menu-mobile ul li:last-child {
    margin-bottom: 0;
  }
  .sf-menu-mobile ul li a {
    font-family: "Montserrat";
    color: rgba(238, 238, 238, 0.7);
    font-size: 24px;
  }
  .full,
  .full-xs {
    width: 100%;
    max-width: 640px;
  }
  .wrapper-right {
    margin-top: 50%;
  }
  .no-mobile {
    display: none !important;
  }
  .sf-navbar .sf-menu ul {
    line-height: 18px;
  }
  .sf-header.feature .sf-hero .arrow img {
    width: 70px;
    height: 70px;
  }
  .sf-header.feature .sf-hero p {
    margin-bottom: 209px;
  }
  .tour-wrapper {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(68, 69, 73) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgb(255, 255, 255)), color-stop(100%, rgb(68, 69, 73)));
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(68, 69, 73) 100%);
    background: -o-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(68, 69, 73) 100%);
    background: -ms-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(68, 69, 73) 100%);
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(68, 69, 73) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#444549", GradientType=0);
  }
  .sf-footer .float:nth-child(3) {
    float: right;
  }
  .sf-footer .l2 .icon {
    vertical-align: initial;
  }
  .sf-footer .l2 h4 {
    text-align: right;
  }
  .wide-xs {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 14px;
    line-height: 18.2px;
  }
  .container,
  .container-size {
    width: 980px;
  }
  .sf-header {
    padding-top: 50px;
  }
  .sf-header .sf-nav-button {
    font-size: 12px;
  }
  .sf-header .sf-menu {
    margin-left: 141px !important;
  }
  .sf-header .sf-menu a,
  .sf-header .sf-menu .sf-nav-button {
    font-size: 12px;
  }
  .sf-header .sf-menu ul {
    padding-top: 16px;
  }
  .sf-header hr {
    margin-top: 18px;
    margin-bottom: 62px;
    height: 1px;
  }
  .sf-header.feature .sf-hero {
    padding-bottom: 135px;
  }
  .sf-header.feature .sf-hero h1 {
    margin-bottom: 15px;
  }
  .sf-header.feature .sf-hero p {
    font-size: 23.8px;
  }
  .sf-header.feature .sf-hero .arrow {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 22px;
  }
  .sf-header.feature .sf-hero .arrow.right {
    text-align: right;
  }
  .sf-header.feature .sf-hero .arrow.left {
    text-align: left;
  }
  .sf-header.feature.larger .sf-hero .container {
    height: 96px;
  }
  .sf-footer {
    padding-bottom: 93px;
  }
  .sf-footer .logo {
    background-image: url("/img/logo-footer.png");
    background-repeat: no-repeat;
    background-position-x: 2px;
    background-position: center;
    width: 224px;
    height: 250px;
    margin-right: 76px;
  }
  .sf-footer .bordered-l {
    border-left: 1px solid #4d4f53;
  }
  .sf-footer .bordered-r {
    border-right: 1px solid #4d4f53;
  }
  .sf-footer h5 {
    line-height: 13.2px;
    letter-spacing: 2.2px;
  }
  .sf-footer .footer-list {
    height: 315px;
  }
  .sf-footer .footer-list ul {
    font-size: 12.6px;
    margin-left: 1px;
  }
  .sf-footer .l1 {
    margin: 0 36px;
  }
  .sf-footer .l1 li {
    margin-bottom: 14px;
  }
  .sf-footer .l2 {
    margin-left: 31px;
    margin-right: 61px;
  }
  .sf-footer .l2 li {
    margin-bottom: 17px;
  }
  .sf-footer .news {
    margin-left: 42px;
    width: 227px;
  }
  .sf-footer .news p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    margin-left: 1px;
    margin-bottom: 25px;
  }
  .sf-footer .news .input-group {
    border-radius: 5px;
    width: 230px;
  }
  .sf-footer .news .input-group input, .sf-footer .news .input-group .sf-form textarea, .sf-form .sf-footer .news .input-group textarea,
  .sf-footer .news .input-group .btn {
    height: 45px;
  }
  .sf-footer .news .input-group input, .sf-footer .news .input-group .sf-form textarea, .sf-form .sf-footer .news .input-group textarea {
    line-height: 16.8px;
    padding-top: 17px;
    padding-left: 18px;
    padding-bottom: 19px;
    color: #878787;
  }
  .sf-footer .news .input-group .btn img {
    margin-bottom: 2px;
  }
  .sf-one-column .row {
    width: 500px;
    margin-left: 240px;
  }
  .sf-one-column .row p {
    margin-bottom: 26px !important;
  }
  .sf-one-column .row p:last-child {
    margin-bottom: 0 !important;
  }
  .sf-one-column .box {
    width: 500px;
    padding-right: 54px;
    padding-left: 56px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 29px;
    box-sizing: border-box;
  }
  .sf-one-column .box p {
    font-size: 16px !important;
    line-height: 20px !important;
    margin-bottom: 22px !important;
    width: 522px;
  }
  .sf-one-column .box .actions.content .arrows {
    margin-bottom: 22px !important;
  }
  .sf-one-column .box .actions.content .actions.row {
    width: 390px;
    font-size: 13px;
    letter-spacing: 1.3px;
  }
  .sf-one-column form {
    text-align: left;
    margin-top: 36px;
  }
  .sf-one-column form p {
    font-size: 12px !important;
    line-height: 14.4px !important;
    margin-bottom: 26px !important;
  }
  .sf-two-columns .first .content,
  .sf-two-columns .second .content {
    max-width: 100%;
    width: 600px;
  }
  .sf-two-columns .first.full-col .content,
  .sf-two-columns .second.full-col .content {
    width: 100%;
    float: none;
  }
  .sf-two-columns .first .content {
    float: right;
  }
  .sf-two-columns .second .content {
    float: left;
  }
  .sf-form label {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .sf-form input, .sf-form textarea {
    height: 45px;
    margin-bottom: 19px;
  }
  .sf-form textarea {
    height: 140px;
  }
  .sf-form .sf-button, .sf-form a.sf-main-button, .sf-form a.sf-secondary-button {
    letter-spacing: 2px;
    margin-top: 32px;
    padding: 13px 66px;
    font-size: 10px;
  }
  .sf-form input[type=checkbox] + label .checkbox, .sf-form textarea[type=checkbox] + label .checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border-radius: 4px;
  }
  .sf-form input[type=checkbox]:checked + label .checkbox, .sf-form textarea[type=checkbox]:checked + label .checkbox {
    background-image: url("/img/check.png");
  }
  .only-mobile {
    display: none !important;
  }
  .feature-p, .sf-one-column .row p, .sf-two-columns .first p,
  .sf-two-columns .second p {
    font-size: 19.9px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 23px;
    margin-right: 0;
    margin-left: 1px;
  }
  .feature-p:last-child, .sf-one-column .row p:last-child, .sf-two-columns .first p:last-child,
  .sf-two-columns .second p:last-child {
    margin-bottom: 0;
  }
  .full,
  .full-md {
    width: 100% !important;
    max-width: 1200px;
  }
  .wrapper-right {
    margin-left: 50%;
  }
  .gradient {
    filter: none;
  }
  .center {
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
